---
title: Patterns
---
{% import "./../../_includes/components.njk" as c %}
{% set content %}
A core part of the Roodesign brand is a collection of abstract patterns. 
{% endset %}
{{ c.prose(content,['article'] ) }}
