---
title: Fiance Box
layout: proposal.njk
preface: |
  A prosal for **Finace Box** by **Roodesign Ltd**. 
  Made on 23 November 2020.
---
{% set content %}
## A note on how I write proposals
You'll notice that this isn't your usual proposal. You won't find much in the way of locked-down specification. Instead, I like to work collaboratively with clients. We'll design your success together. I want this proposal to reflect that. However, I have specified as much as possible to give you an idea of how we'll work together. 

### Table of contents

* [Option 1](#option-1)
* [Option 2](#option-2)

<h2 id="option-1">Option 1 - Website design and build</h2>

Fixed costs: 

* Design and development of a website: £4,250 + VAT
* [Statamic CMS](https://statamic.dev/): $259

Ongoing costs:

* [Heroku](https://heroku.com) hosting: from $25 USD / month
* (or) [Digital Ocean](https://www.digitalocean.com/) hosting: from $5 / month

### Overview
After our conversations together, it sounds like you have a plan; in that, you have definite ideas of how you'll generate interest in your business via a website. Therefore, I feel comfortable in suggesting an option to redesign and build your website without a significant amount of brand work beforehand.

I propose using your current brand to design and build a new website. 

As part of the design process, I will:

* run a remote workshop with you and your staff to understand the features you'd like to include;
* run a remote workshop with you to collaboratively create marketing messaging;
* create a website blueprint we can iterate together;
* develop a set of style tiles which we can iterate together;
* produce final flat designs of critical pages;
* build graphical assets for third-party services, like Facebook and Twitter.

As part of the build process, I will:

* build templates for all types of pages on your website;
* integrate the site into Statamic CMS;
* train you on how to use Statamic CMS;
* deploy your site to Heroku;
* provide back-up code on Github;
* test your site on modern web browsers;
* integrate Google Analytics;
* help you ensure your website complies with GDPR and European cookie law.

### Features
As part of the design process, I'll run a workshop where we uncover features together. But, from conversations we've already had, I think your new site will need:

* the ability for you to update all the content, images and some control of the layout of each page;
* a blog functionality, including syndication to external providers like Twitter and Facebook;
* a form builder, so you can create contact forms and collect responses — with one set-up by default;
* integration with third-party software, like Intercom;

### Extras
We'll agree on the features of your new site together. However, as this is a fixed price quote, I reserve the right to charge more for any complex features you require. These might be things like tax calculators, for example. 

<h2 id="option-2">Option 2 - Brand, marketing strategy, website design and build</h2>

Fixed costs: 

* Brand discovery and design: £5,750 + VAT
* Marketing strategy and asset production: To be discussed
* Design and development of a website: £4,250 + VAT
* [Statamic CMS](https://statamic.dev/): $259

Ongoing costs:

* [Heroku](https://heroku.com) hosting: from $25 USD / month
* (or) [Digital Ocean](https://www.digitalocean.com/) hosting: from $5 / month

## Overview
As we've discussed, a brand is more than a logo and colours; it's a whole personality! A good brand can elevate you. It can mean the difference between being passed-over as "just one of the bunch" or noticed as a powerful and unique voice in a saturated marketplace.

In this option, I'd partner with Mark at [Sling.agency](http://sling.agency/) to build a compelling, engaging and unexpected brand; this would include:

* a workshop to clearly define who you are and what sets you apart, we can only build a brand when we fully understand the heart of FBX and what makes it tick;
* a session to explore & build customer user personas;
* outwork core brand concepts;
* creating visual brand & tone-of-voice guidelines.

### Marketing
A compelling brand, done right, will kick-start a marketing revolution for you. Brand creating naturally leads to creative thinking about how to sell your services. We'll devise new and exciting strategies for marketing your company that'll have the leads pouring in.

### Website design and build
As in option 1, however, new marketing ideas would naturally change some the features of your site. A refreshed visual brand would help your website jump-out compared to your competition.
{% endset %}
{% import "../_includes/components.njk" as c %}
<div class="grid grid--fat-thin space--short">
  {{ c.prose(content) }}
</div>