---
title: About
layout: default.njk
---
{% import "./_includes/components.njk" as c %}

{% set preface %}
I'm a UX designer with 17 years experience of creating digital services and websites.
{% endset %}

{% set about %}
I’ve been designing engaging online experiences since my 28K dial-up modem was a cutting-edge piece of kit. Nowadays, I work at the crossroads of creativity, design and technology.

Born-and-bred in the industrial Black Country, I always wanted to follow my dad and grandfather into a career in engineering. In fact, I studied electrical engineering at University, but a year in I rediscovered my love of design and switched my degree.

But the apple didn't fall that far from the tree. I approach design in much the same way as an engineer would: by continually refining a set of systems and processes to increase the chances of a great result every time.

I firmly believe that everyone is creative and genuinely great ideas often come from unexpected places. That's why I'm excited to help companies make potent digital products by improving their processes and culture in a way that draws out the creativity in everyone. 

* Check out [my CV](//cv.roobottom.com)
* Read [my personal blog](//roobottom.com)
{% endset %}
<div class="grid grid--fat-thin space--alto">
  {{ c.prose(preface,['lead']) }}
</div>
<div class="grid grid--fat-thin space--alto">
  {{ c.prose(about) }}
  {{ c.image(
    '/assets/images/jon-roobottom.jpg',
    null,
    ['rotate-right'],
    ['photo']
  ) }}
</div>