---
layout: default.njk
title: Articles
---
{% import "./_includes/components.njk" as c %}
<div class="grid grid--thirds space--alto">
{% set colors = cycler("odd", "even") %}
{%- for article in collections['articles'] -%}
  {{ c.card({
    title: article.data.title,
    url: article.url,
    content: '',
    cta: article.data.title,
    classes: 'sm'
  }) }}
{%- endfor -%}
</div>