---
layout: default.njk
title: Articles
---
{% import "./_includes/components.njk" as c %}
<div class="grid grid--thirds space--alto">
{% set colour = cycler("green", "red", "blue", "purple", "yellow") %}
{%- for article in collections['articles'] | reverse -%}
  {{ c.card({
    title: article.data.title,
    url: article.url,
    content: article.data.preface or '',
    cta: 'Keep reading',
    ctaSupporting: article.data.title, 
    classes: 'sm',
    color: colour.next(),
    headingSize: 'h3'
  }) }}
{%- endfor -%}
</div>