---
layout: default.njk
title: I help people put their creativity to work
hero:
  url: /assets/images/illustrations/fizzing-brain.png
---
{% import "./_includes/components.njk" as c %}
{# set copy #}
{% set introduction %}
Good ideas transform businesses. Yet, many regard creativity as the preserve of artists and designers. I believe that anyone is capable of exceptional ideas — regardless of who they are or what they do.

I help people unleash their creative potential. But I don't rely on unlikely "eureka" moments. Instead,  I teach a systematic approach to creative thinking. Great ideas are simply an inevitable outcome of the process.
{% endset %}

<section class="container">
  <div class="grid grid--showcase">
    <article id="introduction">
      {{ c.prose(introduction) }}
      {{ c.button('Read case studies','/case-studies',classes=['space--margin-top-1']) }}
    </article>
    {{ c.image(url=hero.url,classes=['homepage-hero']) }}
  </div>
  
</section>