---
layout: default.njk
title: I help people put their creativity to work
hero:
  url: /assets/images/illustrations/fizzing-brain.png
---
{% import "./_includes/components.njk" as c %}
{# set copy #}
{% set introduction %}
One good idea can transform a business from mediocre to extraordinary. Yet, many regard creativity as the preserve of artists and designers. I believe that anyone is capable of exceptional ideas — regardless of what job they do.

I help people unleash their creative potential, not by relying on unlikely "eureka" moments but through a systematic approach.  Unexpected ideas then become a natural output of the process.
{% endset %}

<section class="container">
  <div class="grid grid--showcase">
    <article id="introduction">
      {{ c.prose(introduction) }}
      {{ c.button('Read case studies','/case-studies',classes=['space--margin-top-1']) }}
    </article>
    {{ c.image(url=hero.url,classes=['homepage-hero']) }}
  </div>
  
</section>