---
title: Services
layout: default.njk
---
{% import "./_includes/components.njk" as c %}
<div class="grid">
  <h2 class="space--short">Featured work</h2>
</div>
<div class="grid grid--halves space--alto">
  {{ c.card({
    title: 'hi'
  }) }}
</div>