---
title: What I do
layout: default.njk
design_content: |
  Some content will live here, eventually.
---
{% import "./_includes/components.njk" as c %}
<div class="grid grid--halves space--alto">
  {{ c.card({
    title: 'Digital product design',
    content: design_content,
    color: 'purple'
  }) }}
  {{ c.card({
    title: 'Design process consultancy',
    content: design_content,
    color: 'red'
  }) }}
</div>