---
title: Test
layout: default.njk
---
{% import "./_includes/components.njk" as c %}
<div class="grid grid--fat-thin">
  <figure class="figure figure--screenshots">
    <div class="figure__images">
      <div class="frame frame--laptop">
        <img src="http://placekitten.com/1024/768"/>
      </div>
    </div>
  </figure>
</div>