---
title: Helping a team achieve design process nirvana
date_start: 2018-11-01
date_end: 2019-02-28
roles:
  - Process review
  - Hands-on design and code
  - Pattern library creation
color: green
cover: 
preface: |
  I helped Onalytica's design and product teams improve processes and kick-start a standardised approach to interface design.
images:
  testing:
    url: /assets/images/case-studies/onalytica/user-testing.jpg
    caption: "Gathering insights into how Discover solves problems for Onalytica's users."
---
{% import "../_includes/components.njk" as c %}
{# define markdown sections #}
{% set discovery %}
Onalytica's goals were threefold:

1. To identify their most pressing usability problems;
2. to validate their current discovery and development process;
3. to help better define roles and responsibilities within the product and design team.

I spent time interviewing their users — both external clients and internal "power" users. I also conducted one-to-one sessions with designers, product managers and developers.
{% endset %}
{% set refining %}
### Aligning teams, bottom-up
I ran an affinity mapping mapping session from which some strong themes emerged. I was then able to put together a full application review — this detailed the issues which were having the most significant impact on users.

Using this visual _laundry list_, Onalytica's teams were able to plan out fixes for specific UX problems. Moreover, presenting findings in this way further raised awareness of users and their needs.

### Aligning teams, top down
It was clear that many of the skills and processes they needed to improve the overall usability of their products were already in place. However, there wasn't a single unified vision of how teams should work together from the top.

I gave a presentation to Onalytica's management team in which I outlined a framework process and a set of clearly defined roles they needed to make this process work.
{% endset %}

{# render page #}
<section class="container space--grande" id="discovery">
  <div class="grid">
    <h2 class="marker marker--number space--pico"><a href="#discovery">Discovery</a></h2>
  </div>
  <div class="grid grid--fat-thin">
    {% call c.prose() %}
    {{ discovery }}
    {% endcall %}
    {{ c.image(images.testing.url) }}
  </div>
</section>
<section class="container space--grande" id="refining">
  <div class="grid">
    <h2 class="marker marker--number space--pico"><a href="#refining">Refining Onalytica's design process</a></h2>
  </div>
  <div class="grid grid--fat-thin">
    {% call c.prose() %}
    {{ refining }}
    {% endcall %}
  </div>
</section>