---
title: Helping a team achieve design process nirvana
date_start: 2018-11-01
date_end: 2019-02-28
roles:
  - Product and process review
  - Hands-on design and code
  - Pattern library creation
color: green
cta: 'See how I helped Onalytica'
cover: 
preface: |
  I helped Onalytica's design and product teams improve processes and kick-start a standardised approach to interface design.
images:
  testing:
    url: /assets/images/case-studies/onalytica/user-testing.jpg
    caption: "Gathering insights into how Discover solves problems for Onalytica's users."
  slides:
    urls:
      - /assets/images/case-studies/onalytica/presentation/A.jpg
      - /assets/images/case-studies/onalytica/presentation/B.jpg
      - /assets/images/case-studies/onalytica/presentation/C.jpg
      - /assets/images/case-studies/onalytica/presentation/D.jpg
      - /assets/images/case-studies/onalytica/presentation/E.jpg
      - /assets/images/case-studies/onalytica/presentation/F.jpg
    caption: Some of the slides from a presentation on design process I gave to Onalytica's leadership team.
  screenshots:
    laptop: /assets/images/case-studies/onalytica/onalytica-pattern-lib-laptop.jpg
    tablet: /assets/images/case-studies/onalytica/onalytica-pattern-lib-tablet.jpg
    caption: The front-end pattern library empowers developers to create consistent UI — and enables rapid prototyping for testing with real users.
outcomes:
  -
    title: A clearer design process
    content: |
      Design, technology and product — and critically senior leaders — have a much clearer idea of how to run a user-centred design process.
  -
    title: Better team alignment
    content: |
      By involving people from across the business in the design process, Onalytica's product team has increased understanding and buy-in from everyone.
  -
    title: A robust front-end pattern library
    content: |
      Onalytica's new pattern library serves as both the single source of truth for developers and as a test-bed for new interface ideas.
---
{% import "../_includes/components.njk" as c %}
{# define markdown sections #}
{% set discovery %}
Onalytica's goals were threefold:

1. To identify their most pressing usability problems;
2. to validate their current discovery and development process;
3. to help better define roles and responsibilities within the product and design team.

I spent time interviewing their users — both external clients and internal "power" users. I also conducted one-to-one sessions with designers, product managers and developers.
{% endset %}
{% set refining %}
### Aligning teams, bottom-up
I ran an affinity mapping mapping session from which some strong themes emerged. I was then able to put together a full application review — this detailed the issues which were having the most significant impact on users.

Using this visual _laundry list_, Onalytica's teams were able to plan out fixes for specific UX problems. Moreover, presenting findings in this way further raised awareness of users and their needs.

### Aligning teams, top down
It was clear that many of the skills and processes they needed to improve the overall usability of their products were already in place. However, there wasn't a single unified vision of how teams should work together from the top.

I gave a presentation to Onalytica's management team in which I outlined a framework process and a set of clearly defined roles they needed to make this process work.
{% endset %}
{% set designCode %}
In the second phase of work I co-designed and built a front-end pattern library.

Working alongside Onalytica’s design and development teams, I created a custom build of Bootstrap. I built a pattern library interface to enable developers to pick and use components easily.

All the components compose together, so the pattern library can also be used to create a test new interface combinations quickly.
{% endset %}

{# render page #}
<section class="space--grande" id="discovery">
  <div class="grid">
    <h2 class="marker marker--number space--pico"><a href="#discovery">Discovery</a></h2>
  </div>
  <div class="grid grid--fat-thin">
    {{ c.prose(discovery) }}
    {{ c.image(images.testing.url, images.testing.caption, ['bleed-start','bleed-end']) }}
  </div>
</section>
<section class="space--grande" id="refining">
  <div class="grid">
    <h2 class="marker marker--number space--pico"><a href="#refining">Refining Onalytica's design process</a></h2>
  </div>
  <div class="grid grid--fat-thin">
    {{ c.prose(refining) }}
  </div>
  <div class="grid space--short">
    {{ c.gallery(images.slides.urls,images.slides.caption,['bleed-start','bleed-end','stage']) }}
  </div>
</section>
<section class="space--grande">
  <div class="grid grid--cinched">
    {{ c.quote(
      'Jon has improved our processes, leading to better integration of design into the business. Through his time with us, Jon raised the visibility of design across the company, making it easier to engage with stakeholders.',
      'Karl Roche<br>Senior UX Designer at Onalytica'
    ) }}
  </div>
</section>
<section class="space--grande" id="designCode">
  <div class="grid">
    <h2 class="marker marker--number space--pico"><a href="#designCode">From design to code</a></h2>
  </div>
  <div class="grid grid--fat-thin space--short">
    {{ c.prose(designCode) }}
  </div>
  <div class="grid grid--full">
    {{ c.screenshots(
        laptop=images.screenshots.laptop,
        tablet=images.screenshots.tablet,
        caption=images.screenshots.caption
      ) }}
  </div>
</section>
<section class="space--grande container--decoration-highlight" id="outcomes">
  <div class="grid">
    <h2 class="marker marker--number space--pico"><a href="#outcomes">Outcomes</a></h2>
  </div>
  <div class="grid grid--thirds">
    {{ c.outcomes(outcomes) }}
  </div>
</section>
<section class="space--grande">
  <div class="grid grid--cinched">
    {{ c.quote(
      'Jon is a great communicator and steered us through the UX options and decisions to plan work effectively. We’re delighted with the results - both technically and creatively.',
      'Andrew Macleod<br>CTO, Onalytica'
    ) }}
  </div>
</section>