---js
{
  title: 'Colours',
  colourSets: [
    {
      title: 'Core colours',
      colours: [
        {
          name: 'Green',
          hex: '#71CBAF',
          var: '@c_green'
        }
      ]
    }
  ]
}
---
{% import "./../../_includes/components.njk" as c %}
{% for colourSet in colourSets %}
  <h2>{{ colourSet.title }}</h2>
  <div class="ds-colourSet">
  {% for colour in colourSet.colours %}
    <div class="ds-colour" style="background-color: {{ colour.hex }}">
      <dl class="ds-colour__data">
        <div class="ds-colour__data-item">
          <dt>Name</dt>
          <dd>{{ colour.name }}</dd>
        </div>
      </dl>
    </div>
  {% endfor %}
  </div>
{% endfor %}
