---js
{
  title: 'Colours',
  colourSets: [
    {
      title: 'Core colours',
      colours: [
        {
          title: 'Green',
          hex: '#71CBAF',
          var: '@c_green'
        }
      ]
    }
  ]
}
---
{% import "./../../_includes/components.njk" as c %}
<div class="ds-colours">
  
</div>