{% extends "./_site-wrapper.njk" %}

{% block header %}
  <div class="grid grid--cinched space--alto">
    <h1 class="bleed--start">{{ title }}</h1>
  </div>
  <div class="grid grid--fat-thin space--alto">
    <div class="prose prose--lead">
      <p>{{ preface | md | safe }}</p>
    </div>
    <dl class="meta">
      <dt class="meta__title">Dates</dt>
      <dd class="meta__value space--pico"><p>{{ date_start | date("MMM YYYY") }} - {{ date_end | date("MMMM YYYY") }}</p></dd>
      <dt class="meta__title">What I did</dt>
      <dd class="meta__value"><ul>{% for role in roles %}
        <li>{{ role }}</li>
      {% endfor %}</ul></dd>
    </dl>
  </div>
{% endblock %}

{% block content %}
<main class="container">
  {{ content | safe }}
</main>
{% endblock %}
      