{% extends "./_site-wrapper.njk" %}

{% block header %}
  <div class="grid grid--cinched space--alto">
      <h1 class="bleed--start">{{ title }}</h1>
  </div>
{% endblock %}

{% block content %}
<main class="container">
  {{ content | safe }}
</main>
{% endblock %}