{% extends "./_site-wrapper.njk" %}

{% macro subNavLink(url, title) %}
{% set isActive = false %}
{% if page.url == url %}{% set isActive = true %}{% endif %}
<a href="{{ url }}" class="subnav__link {% if isActive%}subnav__link--active{% endif %}" {% if isActive%}aria-current="true"{% endif %}>{{ title }}</a>
{% endmacro %}

{% block content %}
<main class="container">
  <div class="grid grid--thin-fat-split">
    <nav class="subnav bleed--start" role="navigation" aria-label="Sub navigation">
      <ul class="subnav__list subnav__list--level-0">
        <li class="subnav__item">{{ subNavLink('/design-system/','Introduction') }}</li>
        <li class="subnav__item">
          {{ subNavLink('/design-system/brand/','Brand') }}
          <ul class="subnav__list subnav__list--level-1">
            {% for targetPage in collections['dsBrand'] %}
              <li class="subnav__item">{{ subNavLink(targetPage.url,targetPage.data.title) }}</li>
            {% endfor %}
          </ul>
        </li>
        <li class="subnav__item">
          {{ subNavLink('/design-system/styles/','Styles') }}
          <ul class="subnav__list subnav__list--level-1">
            {% for targetPage in collections['dsStyles'] %}
              <li class="subnav__item">{{ subNavLink(targetPage.url,targetPage.data.title) }}</li>
            {% endfor %}
          </ul>
        </li>
        <li class="subnav__item">
          {{ subNavLink('/design-system/components/','Components') }}
          <ul class="subnav__list subnav__list--level-1">
            {% for targetPage in collections['dsComponents'] %}
              <li class="subnav__item">{{ subNavLink(targetPage.url,targetPage.data.title) }}</li>
            {% endfor %}
          </ul>
        </li>
      </ul>
    </nav>
    <div class="ds-content">
      <div class="heading space--tall">
        <span class="heading__caption">Design system</span>
        <h1 class="bleed--start">{{ title }}</h1>
      </div>
      {{ content | safe }}
    </div> 
  </div>
</main>
{% endblock %}