{# image and gallery options:

* bleed-start
* bleed-end
* stage #}

{# images #}
{% macro image(url,caption,options) %}
  <figure class="figure figure--single-image {% for option in options %}figure--{{ option }} {% endfor %}">
  <div class="figure__images">
    <img src="{{ url }}" class="image"{% if caption %} alt="{{ caption }}"{% endif %}>
  </div>
  {% if caption %}<figcaption>{{ caption }}</figcaption>{% endif %}
  </figure>
{% endmacro %}

{# gallery #}
{% macro gallery(urls, caption, options) %}
  <figure class="figure figure--gallery {% for option in options %}figure--{{ option }} {% endfor %}">
  <div class="figure__images">
    {% for url in urls -%}
    <img src="{{ url }}" class="image" {% if data.caption %} alt="{{ caption }} - {{ loop.index }} of {{ loop.length }} images"{% endif %}>
    {%- endfor %}
  </div>
  {% if caption %}<figcaption>{{ caption }}</figcaption>{% endif %}
  </figcaption>
{% endmacro %}

{# prose #}
{% macro prose() %}
  <div class="prose">
  {% markdown %}{{ caller() }}{% endmarkdown %}
  </div>
{% endmacro %}

{# card #}
{% macro card(data) %}
<article class="card {{data.classes}}{% if data.url %} card--is-linked{% endif %}{%  if data.color %} card--color-{{ data.color }}{% endif %}">
  
  {% if data.cover %}
  <header class="card__cover">
    {# {{ partial:components/figure :figure_images="cover" figure_classes="figure--bleed-start figure--{color}" }} #}
  </header>
  {% endif %}

  <div class="card__content">
    <h2 class="_title space--pico">{{ data.title }}</h2>
    {% call prose() %}{{ data.content }}{% endcall %}
  </div>
    
  {% if data.footer %}
  <footer class="card__footer">
    {% call prose() %}{{ data.footer }}{% endcall %}
  </footer>
  {% endif %}

  {% if data.url %}
      <a href="{{ data.url }}" class="card__cta">{{ data.cta }}</a>
  {% endif %}

</article>
{% endmacro %}

{# quote #}
{% macro quote(content,cite) %}
<blockquote class="quote">
  <p>{{ content }}</p>
  <cite>
    <p>{{ cite | safe }}</p>
  </cite>
</blockquote>
{% endmacro %}