{# image and gallery options:

url: full url to image

caption: figcaption. If none is provided, element is hidden from screen readers.

classes:

* bleed-start
* bleed-end
* stage
* shadow
* rotate-right
* rotate-left 

frame:

* mobile
* tablet
* desktop

#}

{# images #}
{%- macro image(url,caption,classes,frame) -%}
<figure class="figure figure--single-image {% for class in classes %}figure--{{ class }} {% endfor %}" {% if caption == '' or not caption %}aria-hidden="true"{% endif %}>
  <div class="figure__images {% if frame %}frame frame--{{ frame }}{% endif %}">
    <img src="{{ url }}" class="image">
  </div>
  {% if caption %}<figcaption>{{ caption | md | safe }}</figcaption>{% endif %}
</figure>
{%- endmacro -%}

{# gallery #}
{% macro gallery(urls, caption, classes) %}
  <figure class="figure figure--gallery {% for class in classes %}figure--{{ class }} {% endfor %}">
  <div class="figure__images">
    {% for url in urls -%}
    <img src="{{ url }}" class="image" {% if data.caption %} alt="{{ caption }} - {{ loop.index }} of {{ loop.length }} images"{% endif %}>
    {%- endfor %}
  </div>
  {% if caption %}<figcaption>{{ caption | md | safe }}</figcaption>{% endif %}
  </figure>
{% endmacro %}

{# screenshots #}
{% macro screenshots(laptop, phone=null, tablet=null, caption) %}
  {% if laptop and phone and tablet %}{% set type = "phone-laptop-tablet" %}{% endif %}
  {% if laptop and phone and not tablet %}{% set type = "laptop-phone" %}{% endif %}
  {% if laptop and tablet and not phone %}{% set type = "laptop-tablet" %}{% endif %}
  {% if laptop and not tablet and not phone %}{% set type = "laptop" %}{% endif %}
  <figure class="screenshots screenshots--{{ type }}">
    <div class="screenshots__images">
      {% if phone %}
      <div class="frame frame--phone screenshot--phone">
        <img src="{{ phone }}"/>
      </div>
      {% endif %}
      <div class="frame frame--laptop screenshot--laptop">
        <img src="{{ laptop }}"/>
      </div>
      {% if tablet %}
      <div class="frame frame--tablet screenshot--tablet">
        <img src="{{ tablet }}"/>
      </div>
      {% endif %}
    </div>
    {% if caption %}<figcaption class="grid grid--fat-thin">{{ caption | md | safe }}</figcaption>{% endif %}
  </figure>
{% endmacro %}

{# prose #}
{% macro prose(content,classes) %}
  <div class="prose{% for class in classes %} prose--{{ class }}{% endfor %}">
  {{ content | md | safe }}
  </div>
{% endmacro %}

{# Tags #}
{% macro tags(tags, classes, title='tags') %}
  <nav class="tags" aria-label="{{ title }}">
    <ul class="tag__list">
      {% for tag in tags %}
        <li class="tag {% if tag.classes%}{% for class in tag.classes %}tag--{{ class }}{% endfor %}{% endif %}">
          <a href="{{ tag.url }}" class="tag__link">{{ tag.title }}</a>
        </li>
      {% endfor %}
    </ul>
  </nav>
{% endmacro %}

{# card #}
{% macro card(data) %}
<article class="card {{data.classes}}{% if data.url %} card--is-linked{% endif %}{%  if data.color %} card--color-{{ data.color }}{% endif %}">
  
  {% if data.cover %}
  <header class="card__cover">
    <img src="{{ data.cover }}" aria-hidden="true"/>
  </header>
  {% endif %}

  <div class="card__content">
    {% if data.headingSize %}
      <{{ data.headingSize }} class="card__title space--pico {{ data.headingClass }}">{{ data.title }}</{{ data.headingSize }}>
    {% else %}
    <h2 class="card__title space--pico {{ data.headingClass }}">{{ data.title }}</h2>
    {% endif %}
    {% if data.date %}
    <time class="card__date" datetime="{{ data.date }}">{{ data.date | date }}</time>
    {% endif %}
    <div class="card__prose">
      {{ data.content | safe }}
    </div>
  </div>
    
  {% if data.footer %}
  <footer class="card__footer">
    {{ prose(data.footer) }}
  </footer>
  {% endif %}

  {% if data.url %}
      <a href="{{ data.url }}" class="card__cta"><span class="card__ctaLabel">{{ data.cta | safe }}</span>{{ icon('arrow') }}</a>
  {% endif %}

</article>
{% endmacro %}

{# boxout #}
{% macro boxout(content,classes) %}
<div class="boxout prose {% if classes%}{% for class in classes %}boxout--{{ class }}{% endfor %}{% endif %}">
 {{ content | md | safe }}
</div>
{% endmacro %}

{# quote #}
{% macro quote(content,cite) %}
<blockquote class="quote">
  <p>{{ content | md | safe }}</p>
  {% if cite %}
  <cite>
    <p>{{ cite | md | safe }}</p>
  </cite>
  {% endif %}
</blockquote>
{% endmacro %}

{# outcomes #}
{# outcomes: [{
  title: string,
  content: markdown
}] #}
{% macro outcomes(outcomes) %}
  {% for outcome in outcomes %}
    <article class="outcome prose">
      <h3>{{ outcome.title }}</h3>
      {{ prose(outcome.content) }}
    </article>
  {% endfor %}
{% endmacro %}

{# button #}
{% macro button(title,url,showArrow=true,classes) %}
  <a href="{{ url }}" class="button{% for class in classes %} {{ class }}{% endfor %}">
    {{ title }}
    {% if showArrow %}{{ icon('arrow') }}{% endif %}
  </a>
{% endmacro %}

{# buttons #}
{% macro buttons(buttons, classes) %}
  <div class="buttons {% for class in classes %}buttons--{{ class }} {% endfor %}">
    {% for data in buttons %}
      {{ button(data.title, data.url, data.showArrow, data.classes) }}
    {% endfor %}
  </div>
{% endmacro %}

{# icons #}
{% macro icon(name) %}
<svg viewBox="0 0 16 16" width="16" height="16" aria-hidden="true" class="icon icon--{{ name }}">
  <use xlink:href="/assets/images/icons.svg#icon-{{ name }}"></use>
</svg>
{% endmacro %}

{# Design system components #}
{% macro dsExample(html, nunjucks, classes) %}
<div class="ds-example {% for class in classes %}ds-example--{{ class }}{% endfor %}">
  <div class="ds-example__showcase">
    {{ html | safe }}
  </div>
  <pre class="ds-example__code ds-example__code--html">{{ html }}</pre>
  {%- if nunjucks -%}<pre class="ds-example__code ds-example__code--nunjucks">{{ nunjucks }}</pre>{%- endif -%}
</div>
{% endmacro %}