{# image and gallery options:

* bleed-start
* bleed-end
* stage #}

{# images #}
{% macro image(url,caption,options,classes) %}
  <figure class="figure figure--single-image {% for option in options %}figure--{{ option }} {% endfor %}{% for class in classes %} {{ class }}{% endfor %}">
  <div class="figure__images">
    <img src="{{ url }}" class="image"{% if caption %} alt="{{ caption }}"{% endif %}>
  </div>
  {% if caption %}<figcaption>{{ caption | md | safe }}</figcaption>{% endif %}
  </figure>
{% endmacro %}

{# gallery #}
{% macro gallery(urls, caption, options) %}
  <figure class="figure figure--gallery {% for option in options %}figure--{{ option }} {% endfor %}">
  <div class="figure__images">
    {% for url in urls -%}
    <img src="{{ url }}" class="image" {% if data.caption %} alt="{{ caption }} - {{ loop.index }} of {{ loop.length }} images"{% endif %}>
    {%- endfor %}
  </div>
  {% if caption %}<figcaption>{{ caption | md | safe }}</figcaption>{% endif %}
  </figure>
{% endmacro %}

{# screenshots #}
{% macro screenshots(laptop, phone=null, tablet=null, caption) %}
  {% if laptop and phone and tablet %}{% set type = "phone-laptop-tablet" %}{% endif %}
  {% if laptop and phone and not tablet %}{% set type = "laptop-phone" %}{% endif %}
  {% if laptop and tablet and not phone %}{% set type = "laptop-tablet" %}{% endif %}
  {% if laptop and not tablet and not phone %}{% set type = "laptop" %}{% endif %}
  <figure class="screenshots screenshots--{{ type }}">
    <div class="screenshots__images">
      {% if phone %}
      <div class="frame frame--phone screenshot--phone">
        <img src="{{ phone }}"/>
      </div>
      {% endif %}
      <div class="frame frame--laptop screenshot--laptop">
        <img src="{{ laptop }}"/>
      </div>
      {% if tablet %}
      <div class="frame frame--tablet screenshot--tablet">
        <img src="{{ tablet }}"/>
      </div>
      {% endif %}
    </div>
    {% if caption %}<figcaption class="grid grid--fat-thin">{{ caption | md | safe }}</figcaption>{% endif %}
  </figure>
{% endmacro %}

{# prose #}
{% macro prose(content,classes) %}
  <div class="prose{% for class in classes %} {{ class }}{% endfor %}">
  {{ content | md | safe }}
  </div>
{% endmacro %}

{# card #}
{% macro card(data) %}
<article class="card {{data.classes}}{% if data.url %} card--is-linked{% endif %}{%  if data.color %} card--color-{{ data.color }}{% endif %}">
  
  {% if data.cover %}
  <header class="card__cover">
    {# {{ partial:components/figure :figure_images="cover" figure_classes="figure--bleed-start figure--{color}" }} #}
  </header>
  {% endif %}

  <div class="card__content">
    {% if data.headingSize %}
      <{{ data.headingSize }} class="card__title space--pico">{{ data.title }}</{{ data.headingSize }}>
    {% else %}
    <h2 class="card__title space--pico">{{ data.title }}</h2>
    {% endif %}
    {% if data.date %}
    <time class="card__date" datetime="{{ data.date }}">{{ data.date | date }}</time>
    {% endif %}
    {{ prose(data.content) }}
  </div>
    
  {% if data.footer %}
  <footer class="card__footer">
    {{ prose(data.footer) }}
  </footer>
  {% endif %}

  {% if data.url %}
      <a href="{{ data.url }}" class="card__cta"><span class="card__ctaLabel">{{ data.cta | safe }}</span>{{ icon('arrow') }}</a>
  {% endif %}

</article>
{% endmacro %}

{# quote #}
{% macro quote(content,cite) %}
<blockquote class="quote">
  <p>{{ content | md | safe }}</p>
  <cite>
    <p>{{ cite | md | safe }}</p>
  </cite>
</blockquote>
{% endmacro %}

{# outcomes #}
{# outcomes: [{
  title: string,
  content: markdown
}] #}
{% macro outcomes(outcomes) %}
  {% for outcome in outcomes %}
    <article class="outcome prose">
      <h3>{{ outcome.title }}</h3>
      {{ prose(outcome.content) }}
    </article>
  {% endfor %}
{% endmacro %}

{# button #}
{% macro button(title,url,showArrow=true,classes) %}
  <a href="{{ url }}" class="button{% for class in classes %} {{ class }}{% endfor %}">
    {{ title }}
    {% if showArrow %}{{ icon('arrow') }}{% endif %}
  </a>
{% endmacro %}

{# icons #}
{% macro icon(name) %}
<svg viewBox="0 0 16 16" width="16" height="16" aria-hidden="true" class="icon icon--{{ name }}">
  <use xlink:href="/assets/images/icons.svg#icon-{{ name }}"></use>
</svg>
{% endmacro %}