.subnav {
  border-left: 4px solid @c_grey_light;

  &__list {
    list-style: none;
    margin-left: unit(@gap/@base,rem);
  }

  &__item {
    #type > #size > .regular;
  }
  &__link {
    #type > #style > .link;
    &--active {
      font-weight: bold;
    }
  }

  &__list--level-0 > &__item:not(:first-child) {
    margin-top: unit(@gap/@base,rem);
  }

  &__list--level-0 > &__item > &__link {
    position: relative;
    &:before {
      content: '';
      position: absolute;
      display: block;
      width: unit(@gap/2/@base,rem);
      height: 4px;
      background-color: @c_grey_light;
      top: 50%;
      left: unit(-1 * @gap/@base,rem);
      margin-top: -2px;
    }
  }

}