---
title: Helping tax payers when they’re due a refund
date_start: 2019-04-18
date_end: 2019-11-01
date: 2019-11-01
roles:
  - Interaction design
  - Service design
  - Front-end development
colour: blue
cta: 'See how I helped the tax payer'
preface: I helped HMRC to better serve the UK citizen by designing a service that lets tax payers track VAT repayments
images:
  discovery:
    url: /assets/images/case-studies/vat-repayment-tracker/wall-of-knowledge.jpeg
    caption: |
      Kathy (User Researcher), Louise (Content Designer) and I discuss the day’s findings at the “wall of knowledge”
  blueprint:
    url: /assets/images/case-studies/vat-repayment-tracker/service-blueprint.jpg
    caption: |
      I created this service blueprint that mapped the journey for the user and their interactions with HMRC staff and software. We used this to quickly identify pain-points and opportunities for improvement. 
  ideasWorkshop:
    url: /assets/images/case-studies/vat-repayment-tracker/ideas-workshop.jpeg
    caption: |
      People from various teams discuss the problems around tracking VAT repayments in an ideas workshop I ran
  ideasWorkshopOutput:
    url: /assets/images/case-studies/vat-repayment-tracker/workshop-ideas.jpg
    caption: We got a whole array of ideas from our "How might we" workshop
---
{% import "../_includes/components.njk" as c %}
{# define markdown sections #}
{% set theproblem %}
When a VAT repayment gets delayed, it can spell disaster for business as predicting cash flow is vital. Understandably, people want to know when they'll get their money.

In 2018, HMRC had no online service to allow people to track their repayments. 50,000 people called the VAT helpline asking "where's my money?"; this cost around £1M in telephone support. 

To further complicate things, if a user hadn't supplied bank details, HMRC had to send a cheque. This cost an extra £1.7M per year. The business objective, naturally, was to reduce these costs.

I was part of a team who designed and built a new service that let users check their repayments anytime. 
{% endset %}

{% set discovery %}
All UK government digital projects start with the discovery phase. The goal is to understand the problem holistically. User needs, internal processes, potential constraints and government policy are all taken into consideration.

When a company submits a VAT return, it triggers a complex set of interactions between the user, employees and software. To understand this journey, we set about creating a service map. 

This was a significant challenge. For example, understating why a repayment might be delayed was tricky. The vetting process for repayments is a closely guarded secret. It's done on a case-by-case basis, and fraud can be a problem. Rightly so, HMRC didn't want to give away anything that might make it easier to cheat the system. 

Mapping the service took serval weeks. At our daily standups, we gradually filled-in puzzle pieces on our "wall of knowledge". 

### User needs
Speaking with users, we found that for the majority, the repayments service was working well. But for the ~20% who had a problem tracking a repayment often meant confusion and multiple calls. These were the users for whom we needed to improve the service.

Even those people having a good experience were confused about how they'd be paid. Users thought that setting up a Direct Debit meant that repayments would be sent back to the same account. This isn't true, people have to provide a "repayment account". Without one, HMRC would send a cheque.

Our researcher, Kathy, was now able to define some specific user needs:

*   tell users _how_ they'd get their repayment
*   tell users _when_ they'd get their repayment.
*   tell users _about_ any delay and inform them how to fix it
*   tell users _if_ HMRC had used repayments to offset other debt
*   tell users _when_ HMRC had sent repayment

### Pain points and opportunities
I translated all our findings into a service blueprint.

We ran a small internal workshop to identify pain-points and opportunities. By reviewing the blueprint and user needs, we were able to rapidly spot areas for improvement. 

We now had a clear idea of the problems facing HMRC staff _and_ end-users. 
{% endset %}

{% set alpha %}
In alpha, we started to rough-out solutions and to test them with users and HMRC staff.

### Idea generation
I ran an *idea generation workshop*. By inviting a mix of people who were and weren't familiar with the project from various areas of the business, I hoped to get a wide array of ideas and perspectives around two questions:

* How might we make calling HMRC the last thing people think of when worrying about their VAT repayments?
* How might we make a repayment by cheque a thing of the past?
{% endset %}

{# render the page #}
<section class="space--grande" id="the-problem">
  <div class="grid">
    <h2 class="marker marker--number space--pico"><a href="#the-problem">The problem</a></h2>
  </div>
  <div class="grid grid--fat-thin">
    {{ c.prose(theproblem) }}
  </div>
</section>

<section class="space--grande" id="discovery">
  <div class="grid">
    <h2 class="marker marker--number space--pico"><a href="#discovery">Discovery</a></h2>
  </div>
  <div class="grid grid--fat-thin">
    {{ c.prose(discovery) }}
    {{ c.image(images.discovery.url,images.discovery.caption,['bleed-start']) }}
  </div>
  <div class="grid space--short">
    {{ c.image(images.blueprint.url, images.blueprint.caption, ['bleed-start','stage']) }} 
  </div>
</section>

<section class="space--grande" id="alpha">
  <div class="grid">
    <h2 class="marker marker--number space--pico"><a href="#alpha">Alpha</a></h2>
  </div>
  <div class="grid grid--fat-thin">
    {{ c.prose(alpha) }}
    {{ c.image(images.ideasWorkshop.url,images.ideasWorkshop.caption,['bleed-start']) }}
  </div>
  <div class="grid space--short">
    {{ c.image(images.ideasWorkshopOutput.url, images.ideasWorkshopOutput.caption, ['bleed-start','stage']) }} 
  </div>
</section>